{% extends 'WOMainBundle::admin.html.twig' %}
{% form_theme form 'WOOrganizerBundle:Form:fields.html.twig' %}
{% block body -%}
    <h1>Sonderangebot erstellen</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_offer') }}">
            Zurück zur Liste
        </a>
    </li>
</ul>
{% endblock %}
