{% extends 'WOMainBundle::layout.html.twig' %}
{% block title %} Diese Seite ist zurzeit Offline {% endblock %}
{% block body %}
    <h1> Die Seite ist zurzeit Offline. Bitte versuchen Sie es später erneut.</h1>
{% endblock %}