{% block body -%}
    {% form_theme edit_form 'WOOrganizerBundle:Form:fields.html.twig' %}
    <div class="modal-dialog">
        <div class="modal-content">
            {#<div class="modal-header">#}
                {#<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>#}
                {#<h4 class="modal-title">Arbeitszeit</h4>#}

            {#</div>#}
            {{  form_start(edit_form, {'attr': {'class': 'form'}}) }}
            <div class="modal-body">
                <div class="te">
                    {{ form_widget(edit_form) }}
                    <a href="#" class="btn btn-danger deleteButton" data-href="{{ path("organizer_worktime_delete", {id: entity.id}) }}">Löschen</a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
            {{ form_end(edit_form) }}
        </div>
        <!-- /.modal-content -->
    </div>
{% endblock %}